*{
margin: 0;
padding: 0;
}
body{


    background-color: rgb(11, 11, 15);
    color: azure;
    font-size: 15px;
    text-align: center;
    
}
.bar{ 
    
    column-rule-width: 4cm;
    width: 5cm;


}
.tt{
border-style: groove;
width: fit-content;
margin-left: 15cm;
background-color: rgb(12, 12, 44);


}
.key{
    border-style: ridge;
    background-color: rgb(182, 182, 188);
    width: 3cm;
 margin-bottom: 1cm;

}
.h1{
    color: rgb(8, 8, 8);
    font-style: normal;
}